<footer class="pt-3">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <p><img class="img-logo-footer" src="{{{global.img_logo_footer}}}=s440"/></p>

                <ul class="list-inline social social-white-alt social-rounded social-sm mb-0">
                    {{#global.social.facebook.show_or_hide}}
                    <li class="list-inline-item"><a href="{{{global.social.facebook.link}}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    {{/global.social.facebook.show_or_hide}}

                    {{#global.social.twitter.show_or_hide}}
                    <li class="list-inline-item"><a href="{{{global.social.twitter.link}}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    {{/global.social.twitter.show_or_hide}}

                    {{#global.social.linkedin.show_or_hide}}
                    <li class="list-inline-item"><a href="{{{global.social.linkedin.link}}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    {{/global.social.linkedin.show_or_hide}}

                    {{#global.social.instagram.show_or_hide}}
                    <li class="list-inline-item"><a href="{{{global.social.instagram.link}}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    {{/global.social.instagram.show_or_hide}}

                    {{#global.social.youtube.show_or_hide}}
                    <li class="list-inline-item"><a href="{{{global.social.youtube.link}}}" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    {{/global.social.youtube.show_or_hide}}

                    {{#global.social.github.show_or_hide}}
                    <li class="list-inline-item"><a href="{{{global.social.github.link}}}" target="_blank"><i class="fa fa-github"></i></a></li>
                    {{/global.social.github.show_or_hide}}

                    {{#global.social.dribbble.show_or_hide}}
                    <li class="list-inline-item"><a href="{{{global.social.dribbble.link}}}" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                    {{/global.social.dribbble.show_or_hide}}
                </ul>

                <p class="vertex mt-5"><a href="https://www.vertex360.co/" target="_blank">
                  <img class="img-logo-vertex" src="https://lh3.googleusercontent.com/bFf913VEv98LOdRJlOB92Y7X6TB9E2boizvEL_-hUZbAltI9zea-JYK42Q5RU1LiMtyMHa1B5EFHU2W6OWjJ40RG_w"/></a>
                </p>
                <p style="font-size: .8rem"> redesigned by Lovey Pale</p>
            </div>
        </div>
    </div>
</footer>
