<!--navigation-->
<section class="smart-scroll">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand heading-black" href="/">
                <img class="img-logo" src="{{{global.img_logo_nav}}}=s120"/>
            </a>
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto mobile-nav">
                    {{#global.header_nav.nav1.show_or_hide}}
                    <li class="nav-item">
                        <a class="nav-link" href="/#hero_section">{{global.header_nav.nav1.text}}</a>
                    </li>
                    {{/global.header_nav.nav1.show_or_hide}}

                    {{#global.header_nav.nav2.show_or_hide}}
                    <li class="nav-item">
                        <a class="nav-link" href="/#section1">{{global.header_nav.nav2.text}}</a>
                    </li>
                    {{/global.header_nav.nav2.show_or_hide}}

                    {{#global.header_nav.nav3.show_or_hide}}
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">{{global.header_nav.nav3.text}}</a>
                    </li>
                    {{/global.header_nav.nav3.show_or_hide}}

                    {{#global.header_nav.nav4.show_or_hide}}
                    <li class="nav-item">
                        <a class="nav-link" href="/#section3">{{global.header_nav.nav4.text}}</a>
                    </li>
                    {{/global.header_nav.nav4.show_or_hide}}
                </ul>
            </div>
        </nav>
    </div>
</section>
