<!doctype html>
<html lang="en">
<head>
    <title>The Gallery</title>
    <meta name="description" content="" />

    {{>head}}
</head>

<body>
    <div class="blocks-page">
        {{>header2}}
        {{>hero}}
        {{>gallery}}
        {{>service}}

<section id="section 1" class="py-md-5 mb-2r">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mx-auto text-center">
                <h1 class="display-4 mt-2 section-title">Let's Connect</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-6 mx-auto" data-aos="fade-left" data-aos-duration="1000">
                <form action="" method="post">
                    <div class="form-group">
                        <input type="text" id="edd-user-name" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" id="edd-user-email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" id="edd-user-subject" class="form-control" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="edd-user-message" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" id="btn-register" class="btn btn-primary btn-send-message" value="Send Message">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

        {{>footer}}
    </div>

    {{>scripts}}
</body>
</html>
