<section class="py-5 py-md-7">
    <div class="container py-md-5">
        <div class="row block-header">
            <div class="col-sm-8 mx-auto text-center">
                <h1 class="display-4 mt-2">{{page.projects.header}}</h1>
                <hr>
                <p class="lead">{{page.projects.subheader}}</p>
            </div>
        </div>

        <div class="row mt-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
            {{#projects}}
            <div class="col-md-4 col-sm-12 mb-2r">
                <a href="/project/{{slug}}">
                    <div class="position-relative project">
                        <div class="image position-relative ">
                            <img src="{{{image}}}" class="img-fluid w-100 d-block">
                            <div class="overlay-box">
                                <div class="overlay-inner overlay-content">
                                    <h5 class="mb-0">{{name}}</h5>
                                    <p>{{category}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{/projects}}
       
        </div>
    </div>
</section>