

<section style="background:url('{{{page.hero.img_background}}}=s2048');background-size:cover;background-position:center;">
    <div class="gradient-div py-3" style="height:76vh">

        <div class="container">
            <div class="row justify-content-center header-row">
                <div class="col-12 col-md-8 col-lg-7 text-center text-white">
                    <img class="avater" style="width:150px;border-radius:50%" src="{{{page.hero.image_profile}}}=s250-c" />
                    <h2 class="display-3 mt-4">{{page.hero.greeting}}</h2>
                    <p class="lead text-white mb-4 mt-1">
                        {{page.hero.introduction}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>