<section class="py-md-5 block">
    <div class="container">
        <div class="row block-header">
            <div class="col-sm-8 mx-auto text-center">
                <h1 class="display-4 mt-2">Services</h1>
                <hr>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 service mb-5 aos-init aos-animate">
                <img class="icon mr-4" src="{{{page.service.img_1}}}">
                <div class="content">
                    <h5>Web Development</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
                </div>
            </div>
            <div class="col-md-4 service mb-5 aos-init aos-animate">
                <img class="icon mr-4" src="{{{page.service.img_2}}}">
                <div class="content">
                    <h5>User Experience Design</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
                </div>
            </div>
            <div class="col-md-4 service mb-5 aos-init aos-animate">
                <img class="icon mr-4" src="{{{page.service.img_3}}}">
                <div class="content">
                    <h5>App Design</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
                </div>
            </div>
            <div class="col-md-4 service mb-5 aos-init aos-animate">
                <img class="icon mr-4" src="{{{page.service.img_4}}}">
                <div class="content">
                    <h5>User Interface Design</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
                </div>
            </div>
            <div class="col-md-4 service mb-5 aos-init aos-animate">
                <img class="icon mr-4" src="{{{page.service.img_6}}}">
                <div class="content">
                    <h5>Branding Design</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
                </div>
            </div>
        </div>
    </div>
</section>